.hiden{
    display: none;
}

/* #region Main*/

body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container{
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
/* #endregion*/

/* #region header*/
.header {
    display: block;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-menu,
.header-address{
    display: none;
}

.header-logo {
    display: block;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;

}

.header-logo .header-logo-span {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.header-menu-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width:768px) {
    .burger-btn {
            display: none;
        }
    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-nav-menu {
        display: flex;
        gap: 40px;

    }

    .header-nav-menu:last-child {
        margin-right: 0;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
    .header-address {
        font-style: normal;
      /*  margin-left: auto;*/
        display: block;
        }
    .header-nav-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
    }

    .header-nav-title:hover {
        color: #404bbf;
    }

    .header-nav-title:focus {
        color: #404bbf;
    }

    .current-link::after {
        position: absolute;
        content: "";
        border-radius: 2px;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
    }

    .current-link {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .header-address {
        font-style: normal;
        margin-left: auto;
    }

    .header-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-address-list:last-child {
        margin-right: 0;
    }

    .header-address-item {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-address-item:hover,
    .header-address-item:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .header-address-list {
        align-items: center;
        flex-direction: row;
        gap: 40px;
    }
    .header-address-item {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}
/* #endregion*/

/* #region mobile menu*/
.mobile-menu {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-conteiner {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mob-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close-btn:hover,
.mob-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

 .mob-close-btn-icon {
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .mob-close-btn:hover .mob-close-btn-icon,
 .mob-close-btn:focus .mob-close-btn-icon {
     fill: #ffffff
 }

 .mob-header-nav{
    margin-bottom: auto;
 }
 .mob-header-nav-menu{
    display: flex;
    flex-direction: column;
    gap: 40px;
 }

 .mob-nav-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }

 .mob-nav-title:hover,
 .mob-nav-title:focus {
     color: #404bbf;
 }

 .mob-current-link{
    color: #404bbf;
 }

 .mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
 }

 .mob-address-list:last-child {
     margin-right: 0;
 }

 .mob-address{
    font-style: normal;
 }
 .mob-address-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .mob-address-item:hover,
 .mob-address-item:focus {
     color: #404bbf;
 }

 .mob-icon-list {
     margin-top: 48px;
     margin-left: 0;
     margin-right: 0;
     padding: 0 0;
     display: flex;
     flex-direction: row;
     justify-content: baseline;
     gap: 40px;
 }
.mob-icon-list-item:last-child {
    margin-right: 0;
}

 .mob-icon-list-item {
     width: 40px;
     height: 40px;
 }

 .mob-icon-list-link {
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .mob-icon-list-link:hover,
 .mob-icon-list-link:focus {
     background-color: #404bbf;
 }

 .mob-icon {
     fill: #f4f4fd;
 }
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
/* #endregion*/

/* #region section hero */
.section-hero {
    max-width: 320px;
    margin: 0 auto;
    background-color: #2e2f42;
    padding: 72px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                     rgba(46, 47, 66, 0.7))
                    , url(../images/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-hero .container {
    align-items: center;
}

.section-hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.section-hero-button {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero-button:hover,
.section-hero-button:focus {
    background-color: #404BBF;
}

@media screen and (min-resolution: 2x) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),url(../images/bg-mobile@2x.jpg)
    }
}

@media screen and (min-width:768px) {
    
    .section-hero {
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/bg-tablet.jpg)
    }

    .section-hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
    }
}

@media screen and (min-width:768px) and (min-resolution: 2x) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/bg-tablet@2x.jpg)
    }
}

@media screen and (min-width:1158px) {
    .section-hero {
        min-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg)
    }

    .section-hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
    }
}

@media screen and (min-width:1158px) and (min-resolution: 2x){
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/people-office@2x.jpg)
    }
}
/* #endregion */

 /* #region modal block */

 .modal-overlay {
     background-color: rgba(46, 47, 66, 0.4);
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     z-index: 999;
     justify-content: center;
     align-items: center;
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-overlay.is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
 }

  .modal-window {
      background-color: #fcfcfc;
      border-radius: 4px;
      width: 288px;
      min-height: 623px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
      overflow-y: auto;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      padding: 72px 24px 24px 24px;
  }

  .form-icon-close-btn {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #e7e9fc;

      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      padding: 0;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-icon-close-btn:hover,
  .form-icon-close-btn:focus {
      background-color: #404bbf;
      border: none;
  }

  .form-icon-close {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-icon-close-btn:hover .form-icon-close,
  .form-icon-close-btn:focus .form-icon-close {
      fill: #ffffff
  }

  .form-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      letter-spacing: 0.02em;
      color: #2E2F42;
      margin-bottom: 16px;
  }

  .form-input-wrapper {
      margin-bottom: 8px;
  }

  .form-label {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #8e8f99;
      display: block;
      margin-bottom: 4px;
  }

  .form-input {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      background-color: transparent;
      padding-left: 38px;
      outline: transparent;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-input:hover,
  .form-input:focus {
      border-color: #4D5AE5;
  }

  .form-input-fild {
      position: relative;
  }

  .form-input-icon {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-input:focus+.form-input-icon {
      fill: #4D5AE5;
  }

  .form-div-textarea {
      margin-bottom: 16px;
  }

  .form-textarea {
      width: 100%;
      height: 120px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
      border: 1px solid rgba(46, 47, 66, 0.4);

      border-radius: 4px;
      background-color: transparent;

      padding: 8px 16px;
      outline: transparent;

      resize: none;

      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-textarea:focus {
      border-color: #4d5ae5;
  }

  .form-div-check {
      margin-bottom: 24px;
  }

  .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
  }

  .form-checkbox {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #8e8f99;
  }

  .form-checkbox-icon {
      width: 16px;
      height: 16px;
      background-color: transparent;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 2px;

      display: inline-flex;
      ;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      fill: transparent;
  }

  .checkbox-hidden:checked+.form-checkbox .form-checkbox-icon {
      background-color: #404bbf;
      border: none;
      fill: #F4F4FD;
  }

  .privacy-link {
      color: #4d5ae5;
      text-decoration: none;
  }


  .form-submit-button {
      display: block;
      min-width: 169px;
      height: 56px;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #ffffff;
      cursor: pointer;
      background: #4d5ae5;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border: none;
      border-radius: 4px;
      margin: auto;
  }

  .form-submit-button:hover,
  .form-submit-button:focus {
      background: #404bbf;
  }

  @media screen and (min-width: 768px) {
      .modal-window {
          width: 408px;
          min-height: 584px;
      }
  }
 /* #endregion*/

/* #region Services section */
.services-section {
    padding: 120px 0 96px 0;
}

.section-div-icon {
    display: none;
}

.section-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-services-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.servises-section-list-h {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.servises-section-list-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {

    .section-services-list {
        max-width: 1128px;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .section-servises-item {
        width: calc((100% - 24px) / 2);
        /* Два елементи в ряд */
    }

    .servises-section-list-h {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .services-section {
            padding: 120px 156px;
            min-width: 1440px;
        }

    .section-services-list {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section-servises-item {
        width: calc((100% - 72px) / 4);
        /* Чотири елементи в ряд */
    }

    .section-div-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
    }

    .servises-section-list-h {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;
    }

    .servises-section-list-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
}

/* #endregion */

/* #region team section */
.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
    max-width: 767px;
    margin: 0 auto;
}

.section-team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.section-list {
    width: 264px;
    height: 420;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-team-item {
    max-width: 232px;
    margin-left: 16px;
    padding: 32px 0;
}

.section-title-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-section-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-section-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icon-list-item {
    width: 40px;
    height: 40px;
}

.team-icon-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-list-link:hover,
.team-icon-list-link:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
    .section-team {
        max-width: 1136px;
        /* Два елементи по 264px + 24px gap */
    }

    .section-team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }

    .section-list {
        width: calc((100% - 24px) / 2);
        max-width: 264px;
        height: 420px;
    }
}

@media screen and (min-width: 1158px) {
    .section-team {
        min-width: 1440px;
    }
    .section-team-list {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section-list {
        width: calc((100% - 72px) / 4);
        max-width: 264px;
        height: 420px;
    }
}
/* #endregion */

/* #region section portfolio */

.section-portfolio {
    width: 100%;
    max-width: 1440px;
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-portfolio-div {
    width: 100%;
    max-width: 1136px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.section-portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;
}

.section-portfolio-item {
    width: 100%;
    max-width: 288px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.section-portfolio-item:hover .section-portfolio-image-p {
    opacity: 1;
    transform: translateY(0%);
}

.section-p-item-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 288px;
    height: 120px;
}

.portfolio-section-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-section-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-portfolio-image-div {
    position: relative;
    overflow: hidden;
}

.section-portfolio-image-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #f4f4fd;
    padding: 40px 32px;
    background: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .section-portfolio {
        width: 100%;
        max-width: 1136px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-portfolio-div {
        max-width: 768px;
        margin: 0 auto;
    }

    .section-portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: center;
    }

    .section-portfolio-item {
        width: calc((100% - 24px) / 2);
        max-width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .section-portfolio {
        width: 100%;
        min-width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-portfolio-div {
        width: 100%;
        max-width: 1136px;
        margin: 0 auto;
    }

    .section-portfolio-list {
        width: 100%;
        max-width: 1136px;
        gap: 48px 24px;
        justify-content: space-between;
        margin: 0 auto;
    }

    .section-portfolio-item {
        width: calc((100% - 48px) / 3);
        max-width: 360px;
    }

    .section-portfolio-item:hover {
        box-shadow: 0px 4px 8px rgba(46, 47, 66, 0.15),
            0px 4px 4px rgba(46, 47, 66, 0.2),
            0px 6px 4px rgba(46, 47, 66, 0.1);
        transform: translateY(-5px);
    }
}
/* #endregion */

/* #region footer */
.footer-div-global {
    background-color: #2e2f42;
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 767px;
    margin: 0 auto;
    gap: 72px;
}

    /* #region footer section logo*/

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .footer-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: block;
        text-align: center;
        width: max-content;
        margin: 0 auto 16px;
   }

    .footer-logo-style {
        color: #f4f4fd;
    }

    .footer-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 288px;
        margin: 0 auto 72px;
    }

    /* #endregion*/

    /* #region footer social-media*/

        .footer-social-media {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            justify-content: center;
            max-height: 80px;
        }
        .footer-social-media-p {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }

        .footer-list {
            display: flex;
            gap: 16px;
            margin-top: 0;
            margin-right: auto;
            margin-bottom: 72px;
        }

        .foter-list-item {
            width: 40px;
            height: 40px;
        }

        .footer-icon-link {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .footer-icon-link:hover,
        .footer-icon-link:focus {
            background-color: #31d0aa;
        }

        .footer-icon {
            fill: #f4f4fd;
        }

    /*#endregion*/

    /* #region footer footer-subscribe*/
        .footer-subscribe {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }
    
        .footer-subscribe-header {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #fff;
        }
    
        .footer-subscribe-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            width: 100%;
        }
    
        .footer-input-lable {
            gap: 16px;
        }
    
        .footer-input {
            border: 1px solid #fff;
            border-radius: 4px;
            width: 264px;
            height: 40px;
            background-color: transparent;
            color: #ffffff;
            padding-left: 16px;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        }
    
        .footer-input::placeholder {
            color: #ffffff;
            font-weight: 400;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
        }
    
         .footer-subscribe-button {
            width: 165px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            background: #4d5ae5;
            border: none;
            border-radius: 4px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            margin: 0 auto;
        }

        .footer-subscribe-icon {
            margin-left: 16px;
            width: 24px;
            height: 24px;
            fill: #fff;
        }
    
        .footer-subscribe-button:hover {
            background: #31d0aa;
        }
    /* #endregion */

    @media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
        max-width: 768px;
        margin: 0 auto;
    }

    .footer-div-global {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .footer-social-media {
        align-items: flex-start;
    }

    .footer-subscribe {
        align-items: flex-start;
    }

    .footer-subscribe-form {
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }
}


    @media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;  
        max-width: 1440px;
    }

    .footer-container {
        max-width: 1158px;
    }

    .footer-div-global {
        min-width: 1440px;
        justify-content: space-between;
    }

    .footer-social-media {
        margin-right: auto;
    }

    .footer-subscribe {
        align-items: flex-start;
    }

    .footer-subscribe-form {
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }
}


/* #endregion */
